LibrettoBookstore/LibrettoClient/Service References/StoreService/LibrettoWCF.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibrettoWCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibrettoWCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginForm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginForm" nillable="true" type="tns:LoginForm" />
</xs:schema>